html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    buntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

h1{
  color: orange;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bold{
  font-weight: bold;
  color: orange;
}

.container {
  display: flex;
  height: 100vh;
}

.controls {
  width: 20%;
  padding: 1rem;
  background: #14161a;
  color: #fff;
  overflow: auto;
}

.controls input {
  border: none;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.hovering_over_message{
  position: absolute;
  z-index: 90000;
  left: 45%;
  background-color: orange;
  opacity: .6;
  font-size: 20px;
  padding: 15px;
  margin: 20px 0;

  border-radius: 5px;
}

.map {
  width: 80%;
  height: 100vh;
}

.highlight {
  font-size: 1.25rem;
  font-weight: bold;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}

.roof_panel_info_box{
  margin: 20px 0;
  padding: 5px 10px;
  /* border: 1px solid lightgray; */
  background-color: rgba(236, 236, 236, .3);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
}

.roof_panel_info_box h1{
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}

.roof_panel_info_box p{
  margin-top: 0;
}

.delete_button{
  background-color: #F47174;

  font-size: 12px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  
  margin-bottom: 5px;

  color: white;
}

.deleted_panels_outer_container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.deleted_panels_description{
  font-size: 10px;
  width: 30%;
}

.deleted_panels_inner_container{
  background-color: rgba(236, 112, 113, .6);
  padding: 5px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 5px;
}

.deleted_panels_button{
  background-color: rgba(236, 112, 113, 1);
  border: none;
  color: white;
  margin: 3px 5px;
  padding: 3px 7px;
  border-radius: 5px;

  transition: .2s;
}

.deleted_panels_button:hover{
  opacity: .6;
  transition: .2s;
}
